@charset "UTF-8";
/* BASES */
/* Reseteo General */
* {
  margin: 0;
  padding: 0;
}

/* Font Family Roboto */
@font-face {
  font-family: "Roboto";
  src: url("../web_fonts/roboto_black_macroman/Roboto-Black-webfont.woff");
}
/* COMPONENTS */
/* Body Generales */
body {
  font-family: "Roboto", "Segoe UI", "Open Sans", "Helvetica Neue", sans-serif;
  text-align: center;
  color: black;
}
body p {
  padding-left: 40px;
  padding-right: 40px;
}

/* Main: Video */
.mi-contenedor {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  align-content: center;
  height: 100vh;
}

.flex-item-a > .video2 {
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
  height: auto;
  width: 40%;
}

.flex-item-b {
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
  height: auto;
  width: auto;
}

/* Main: quienes somos, filosofia */
#quienes, #filosofia {
  padding-top: 55px;
  background-color: #acdeaa;
  padding-left: 40px;
  padding-right: 40px;
}

/* Main: Servicios */
.mi-container {
  padding-left: 40px;
  padding-right: 40px;
}

.ta-2 {
  height: 150px;
  width: 150px;
  margin: 10px auto;
  display: block;
}

#servicios {
  background-color: #fed049;
}

/* Sección Portafolio */
#portafolio {
  padding-top: 85px;
}

.mis-margenes {
  padding-left: 40px;
  padding-right: 40px;
}

img.ta_1 {
  height: 150px;
  width: 150px;
}

/* Main: Formulario Breve */
.estilos-form {
  font-size: 18px;
  line-height: 1.3;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #8fbbaf;
}
.estilos-form h2 {
  padding-top: 65px;
  font-size: 30px;
  margin-bottom: 20px;
}
.estilos-form h2 .speaker-form-header {
  text-align: center;
  background-color: #acdeaa;
  border: 1px solid #d6d9dc;
  border-radius: 3px;
  width: 600px;
  margin: 40px 0;
  padding: 50px;
}
.estilos-form h2 .speaker-form-header .form-row {
  margin-bottom: 40px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
}

.form-row input[type=text] .form-row input[type=mail] {
  padding-right: 50px;
  background-color: #615d5d;
  border: 1px solid #d6d9dc;
  border-radius: 3px;
  width: 100%;
  margin-left: 15px;
  font-size: 14px;
}

.form-row label {
  margin-bottom: 35px;
  margin-left: 25px;
}

.legacy-form-row {
  border: none;
  margin-bottom: 40px;
}

.legacy-form-row .radio-label {
  display: block;
  font-size: 14px;
  padding: 0 20px 0 10px;
}

.legacy-form-row input[type=radio] {
  margin-top: 2px;
}

.form-row button {
  font-size: 16px;
  font-weight: bold;
  color: #d6f8b8;
  background-color: black;
  border: none;
  cursor: pointer;
  margin-bottom: 5px;
}

/* Qr Instagram */
.qr-background {
  background-color: #acdeaa;
}
.qr-background .qr-insta {
  width: 300px;
  padding: 25px;
}

/* Iframe Google Maps */
.contenedor-mapa {
  padding: 5px;
  background-color: #c7c8ca;
}

/* Redes Sociales */
#redes-sociales {
  width: 200px;
  margin-top: 2.5px;
}
#redes-sociales .img-bs-grid {
  width: 25px;
  justify-content: space-between;
}

/* Footer: Menú Nav Flex */
footer section .contenedor-menu-2 {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  background-color: #168124;
  justify-content: center;
  text-align: center;
}
footer section .contenedor-menu-2 .listado-menu2 nav {
  display: flex;
}
footer section .contenedor-menu-2 .listado-menu2 nav ul {
  display: flex;
  flex-wrap: wrap;
}
footer section .contenedor-menu-2 .listado-menu2 nav ul li {
  display: flex;
  list-style-type: none;
}
footer section .contenedor-menu-2 .listado-menu2 nav ul li a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  text-align: center;
  justify-content: center;
  align-content: center;
}
footer section .contenedor-menu-2 .listado-menu2 nav ul li a:hover {
  color: #acdeaa;
}

/* Transiciones */
/* Mini Sección: Transiciones */
.caja1 {
  -webkit-transition: 1s linear;
  transition: 1s linear;
}
.caja1:hover {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

.caja2 {
  -webkit-transition: 1s linear;
  transition: 1s linear;
}
.caja2:hover {
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
}

.caja3 {
  -webkit-transition: 1s linear;
  transition: 1s linear;
}
.caja3:hover {
  -webkit-transform: skew(10deg);
  transform: skew(10deg);
}

/* Queries */
/* Sección Media Queries */
/*RESPONSIVE*/
@media (min-width: 1199px) {
  .video2 {
    margin-top: 6rem;
  }
}
@media (min-width: 576px) and (max-width: 1199px) {
  .navbar-expand-lg {
    justify-content: center;
  }

  section .carousel-index .carousel-item .carousel-texto {
    text-align: center;
    width: auto;
    height: auto;
    margin-bottom: auto;
    padding: 2rem 3rem 2rem 3rem;
  }

  .sobremi-index {
    flex-direction: column;
    max-width: 100%;
  }

  .sobremi-index .sobremi-index-texto {
    max-width: 100%;
    margin-top: 1rem;
  }

  .sobremi-index .col-md-8 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .sobremi {
    flex-direction: column;
    max-width: 100%;
  }

  .sobremi .sobremi-texto {
    max-width: 100%;
    margin-top: 1rem;
  }

  .sobremi .col-md-8 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .sobremi .sobremi-imagen {
    max-width: 100%;
    flex-direction: column;
  }

  .servicios {
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 100%;
    align-items: center;
  }

  .galeria .card-body .overlay-portfolio:hover .card-title {
    margin-top: 6rem;
    margin-bottom: 0.2rem;
    font-size: 1.1rem;
  }
}
@media (max-width: 991px) {
  .navbar-expand-lg {
    justify-content: space-between;
  }

  .navbar .navbar-nav .btn {
    display: flex;
    justify-content: start;
  }

  section .carousel-index .carousel-item .carousel-texto {
    height: auto;
    margin-bottom: auto;
    padding: 2rem 3rem 2rem 3rem;
  }

  section .carousel-index .carousel-item .carousel-texto p {
    display: none;
  }

  .container .ideas-index .card-deck {
    flex-direction: column;
    flex-wrap: wrap;
  }

  .container .ideas-index .card-deck .col-sm-4 {
    max-width: 100%;
    max-height: auto;
  }

  .combos .card-group .card-deck .card .overlay-index:hover .texto-combo-hover {
    margin-top: 6rem;
  }

  .row-habilidades {
    flex-direction: column;
  }

  .col-6-habilidades-right {
    max-width: 100%;
  }

  .col-4-habilidades-left {
    max-width: 60%;
    margin: auto;
  }

  .press-online {
    flex-direction: column !important;
    align-items: center;
  }

  .press-online .press-online-texto .card-press-online {
    border-radius: 15px;
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2);
  }

  .galeria .card-body .overlay-portfolio:hover .card-title {
    margin-top: 0rem;
    margin-bottom: 0.2rem;
    font-size: 1.1rem;
  }

  .galeria .card-body .overlay-portfolio:hover .card-text {
    font-size: 0.8rem;
  }

  .modal-cckonex .modal-body .texto-modal .number-two {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
  }

  .modal-cckonex .modal-body .texto-modal .text-two {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
  }

  .modal-cckonex .modal-body .texto-modal .number-three {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
  }

  .modal-cckonex .modal-body .texto-modal .text-three {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 3;
  }
}
@media (min-width: 991px) {
  .navbar-expand-lg {
    justify-content: space-between;
  }

  .combos .card-group .card-deck .card .overlay-index:hover .texto-combo-hover {
    margin-top: 8rem;
  }
}
@media (max-width: 767px) {
  .bg-color {
    position: absolute;
  }

  .bg-color .navbar-expand-lg {
    justify-content: center;
  }

  .ideas-index .card-deck {
    flex-direction: column;
  }

  .ideas-index .card-deck .col-sm-4 {
    margin-bottom: 1rem;
    max-width: 100%;
  }

  .combos .card-group .card-deck {
    flex-direction: column;
    max-width: 100%;
  }

  .combos .card-group .card-deck .card {
    margin-bottom: 1rem;
  }

  .combos .card-group .card-deck .card .overlay-index:hover .texto-combo-hover {
    margin-top: 15rem;
  }

  .servicios {
    flex-direction: column;
    max-width: 100%;
    align-items: center;
  }

  .container-form .flex-form-contacto {
    flex-wrap: wrap;
    flex-direction: column;
  }

  .habilidades-right .card-deck {
    flex-direction: row;
  }

  .galeria .card-body .overlay-portfolio:hover .card-title {
    margin-top: 12rem;
    margin-bottom: 0.2rem;
    font-size: 2rem;
  }

  .galeria .card-body .overlay-portfolio:hover .card-text {
    font-size: 1.2rem;
  }
}
@media (min-width: 768px) {
  .sobremi-index .col-md-8 {
    max-width: 100%;
  }
}
@media (max-width: 576px) {
  .row-habilidades .habilidades-right .card-deck .card-habilidades {
    width: auto;
  }

  .combos .card-group .card-deck {
    flex-direction: column;
    max-width: 100%;
  }

  .combos .card-group .card-deck .card {
    margin-bottom: 1rem;
  }

  .combos .card-group .card-deck .card:hover .overlay-index:hover .texto-combo-hover {
    margin-top: 8rem;
  }

  .galeria .card-body .overlay-portfolio:hover .card-title {
    margin-top: 12rem;
    margin-bottom: 0.2rem;
  }
}

/*# sourceMappingURL=style.css.map */
