@charset "UTF-8";
/* BASES */
/* Reseteo General */
* {
  margin: 0;
  padding: 0;
}

/* Font Family Roboto */
@font-face {
  font-family: "Roboto";
  src: url("../web_fonts/roboto_black_macroman/Roboto-Black-webfont.woff");
}
:root {
  --color-primary: #444CF7;
  --color-title: #000;
  --align-title: left;
  --padding-container: 100px 0;
  --width-container: 90%;
  --max-width-container: 1200px;
  --color-btn: #444CF7;
  --text-btn: #fff;
  --padding-btn: 20px 35px;
  --height-shape:18em;
  scroll-behavior: smooth;
}

/* COMPONENTS */
/* Body Generales */
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", "Segoe UI", "Open Sans", "Helvetica Neue", sans-serif;
  text-align: center;
  color: black;
  background-color: #E5E5F7;
  opacity: 1;
  background-image: radial-gradient(#444CF7 0.7px, transparent 0.7px), radial-gradient(#444CF7 0.7px, #E5E5F7 0.7px);
  background-size: 28px 28px;
  background-position: 0 0 14px 14px;
}

.presentacion {
  height: 100vh;
  min-height: 500px;
  position: relative;
}

.presentacion::after {
  content: "";
  display: block;
  position: absolute;
  height: var(--height-shape);
  width: 100%;
  bottom: 0;
  left: 0;
  background: #fff;
  z-index: -1;
  clip-path: polygon(0 100%, 100% 100%, 100% 0);
}

.presentacion__container {
  width: 90%;
  max-width: var(--max-width-container);
  padding: var(--padding-container);
  margin: 0 auto;
  overflow: hidden;
}

.presentacion__titulos {
  padding-top: 50px;
}

.presentacion__container {
  display: grid;
  height: 100%;
  grid-template-columns: 3fr 2fr;
  place-items: center;
  gap: 20px;
}

.presentacion__textos {
  font-size: 4rem;
}

.presentacion__copy {
  font-size: 1.2rem;
  margin: 25px 0;
}

.presentacion__cta {
  display: inline-block;
  background: var(--color-btn);
  color: #fff;
  padding: var(--padding-btn);
  text-align: center;
  text-decoration: none;
}

.presentacion__img {
  width: 95%;
}

/* Main: Video */
.video2 {
  width: auto;
  height: 300px;
}

/* Main: quienes somos, filosofia */
.contenedor-identidad {
  padding-left: 40px;
  padding-right: 40px;
  background-color: #080808;
}

#filosofia,
#quienes {
  padding-top: 55px;
}

* {
  margin: 0;
  padding: 0;
}

#categories {
  overflow: hidden;
  width: 70%;
  margin: 0 auto;
}

.clr:after {
  content: "";
  display: block;
  clear: both;
}

#categories li {
  position: relative;
  list-style-type: none;
  width: 27.8571428571%;
  /* = (100-2.5) / 3.5 */
  padding-bottom: 32.1676014517%;
  /* =  width /0.866 */
  float: left;
  overflow: hidden;
  visibility: hidden;
  -webkit-transform: rotate(-60deg) skewY(30deg);
  -ms-transform: rotate(-60deg) skewY(30deg);
  transform: rotate(-60deg) skewY(30deg);
}

#categories li:nth-child(3n+2) {
  margin: 0 1%;
}

#categories li:nth-child(6n+4) {
  margin-left: 0.5%;
}

#categories li:nth-child(6n+4),
#categories li:nth-child(6n+5),
#categories li:nth-child(6n+6) {
  margin-top: -6.9285714285%;
  margin-bottom: -6.9285714285%;
  -webkit-transform: translateX(50%) rotate(-60deg) skewY(30deg);
  -ms-transform: translateX(50%) rotate(-60deg) skewY(30deg);
  transform: translateX(50%) rotate(-60deg) skewY(30deg);
}

#categories li:nth-child(6n+4):last-child,
#categories li:nth-child(6n+5):last-child,
#categories li:nth-child(6n+6):last-child {
  margin-bottom: 0;
}

#categories li * {
  position: absolute;
  visibility: visible;
}

#categories li > div {
  width: 100%;
  height: 100%;
  text-align: center;
  color: #fff;
  overflow: hidden;
  -webkit-transform: skewY(-30deg) rotate(60deg);
  -ms-transform: skewY(-30deg) rotate(60deg);
  transform: skewY(-30deg) rotate(60deg);
  -webkit-backface-vissibility: hidden;
}

/* HEXa CONTENT */
#categories li img {
  left: -100%;
  right: -100%;
  width: auto;
  height: 100%;
  margin: 0 auto;
}

#categories div h2,
#categories div p {
  width: 90%;
  padding: 0 5%;
  background-color: #0d6efd;
  background-color: #0d6dfdf8;
  font-family: "Roboto", sans-serif;
  -webkit-transition: top 0.2s ease-out, bottom 0.2s ease-out, 0.2s padding 0.2s ease-out;
  -ms-transition: top 0.2s ease-out, bottom 0.2s ease-out, 0.2s padding 0.2s ease-out;
  transition: top 0.2s ease-out, bottom 0.2s ease-out, 0.2s padding 0.2s ease-out;
}

#categories li h2 {
  bottom: 110%;
  font-style: italic;
  font-weight: normal;
  font-size: 1.5em;
  padding-top: 100%;
  padding-bottom: 100%;
}

#categories li h2:after {
  content: "";
  display: block;
  position: absolute;
  bottom: -1px;
  left: 45%;
  width: 10%;
  text-align: center;
  z-index: 1;
  border-bottom: 2px solid #fff;
}

#categories li p {
  padding-top: 50%;
  top: 110%;
  padding-bottom: 50%;
}

/* HOVER EFFECT  */
#categories li div:hover h2 {
  bottom: 50%;
  padding-bottom: 10%;
}

#categories li div:hover p {
  top: 50%;
  padding-top: 10%;
}

.tituloquienes {
  color: #9c9292;
  text-decoration: none;
  border: 1px solid #000;
  background-color: black;
  padding: 0.5em 0.7em;
  margin: 1%;
  transition: color 0.5s;
  overflow: hidden;
}

.tituloquienes::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 130%;
  height: 100%;
  background-color: #9c9292;
  z-index: -1;
  transform-origin: 0 0;
  transform: translateX(-100%) skewX(-45deg);
  transition: transform 0.5s;
}

.tituloquienes:hover {
  color: #fff;
}

.tituloquienes:hover:before {
  transform: translateX(0) skewX(-45deg);
}

/* Main: Servicios */
.mi-container {
  padding-left: 40px;
  padding-right: 40px;
}

.ta-2 {
  height: 100px;
  width: 100px;
  margin: 10px auto;
  display: block;
}

#servicios {
  display: flex;
  align-items: center;
  padding-top: 65px;
  justify-content: center;
  background-color: #fed049;
}

/* Sección Portafolio */
#portafolio {
  padding-top: 85px;
}

.mis-margenes {
  padding-left: 40px;
  padding-right: 40px;
}

img.ta_1 {
  height: 150px;
  width: 150px;
}

.center-text-align {
  text-align: center;
}

/* Main: Formulario Breve */
.estilos-form {
  font-size: 18px;
  line-height: 1.3;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #8fbbaf;
}
.estilos-form h2 {
  padding-top: 65px;
  font-size: 30px;
  margin-bottom: 20px;
}
.estilos-form h2 .speaker-form-header {
  text-align: center;
  background-color: #acdeaa;
  border: 1px solid #d6d9dc;
  border-radius: 3px;
  width: 600px;
  margin: 40px 0;
  padding: 50px;
}
.estilos-form h2 .speaker-form-header .form-row {
  margin-bottom: 40px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
}

.form-row input[type=text] .form-row input[type=mail] {
  padding-right: 50px;
  background-color: #615d5d;
  border: 1px solid #d6d9dc;
  border-radius: 3px;
  width: 100%;
  margin-left: 15px;
  font-size: 14px;
}

.form-row label {
  margin-bottom: 35px;
  margin-left: 25px;
}

.legacy-form-row {
  border: none;
  margin-bottom: 40px;
}

.legacy-form-row .radio-label {
  display: block;
  font-size: 14px;
  padding: 0 20px 0 10px;
}

.legacy-form-row input[type=radio] {
  margin-top: 2px;
}

.form-row button {
  font-size: 16px;
  font-weight: bold;
  color: #d6f8b8;
  background-color: black;
  border: none;
  cursor: pointer;
  margin-bottom: 5px;
}

.contenedor-mapa {
  padding-top: 5px;
}

.integrated {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

/* Redes Sociales */
#redes-sociales {
  width: 200px;
  margin-top: 2.5px;
}
#redes-sociales .img-bs-grid {
  width: 60px;
  margin-bottom: 10px;
  justify-content: space-between;
}

/* Footer: Menú Nav Flex */
footer section {
  background-color: white;
}
footer section .contenedor-menu-2 {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  background-color: #168124;
  justify-content: center;
  text-align: center;
}
footer section .contenedor-menu-2 .listado-menu2 nav {
  display: flex;
  justify-content: space-around;
}
footer section .contenedor-menu-2 .listado-menu2 nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
footer section .contenedor-menu-2 .listado-menu2 nav ul li {
  display: flex;
  justify-content: space-around;
  justify-items: center;
  list-style-type: none;
}
footer section .contenedor-menu-2 .listado-menu2 nav ul li a {
  display: flex;
  color: #c2b3b3;
  text-decoration: none;
  margin-left: 20px;
  text-align: center;
  justify-content: space-around;
  align-content: center;
}
footer section .contenedor-menu-2 .listado-menu2 nav ul li a:hover {
  color: #acdeaa;
}

/* Transiciones */
/* Mini Sección: Transiciones */
.caja1 {
  -webkit-transition: 1s linear;
  transition: 1s linear;
}
.caja1:hover {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

.caja2 {
  -webkit-transition: 1s linear;
  transition: 1s linear;
}
.caja2:hover {
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
}

.caja3 {
  -webkit-transition: 1s linear;
  transition: 1s linear;
}
.caja3:hover {
  -webkit-transform: skew(10deg);
  transform: skew(10deg);
}

/* Queries */
/* Sección Media Queries */
/*RESPONSIVE*/
@media (min-width: 1199px) {
  .video2 {
    margin-top: 3rem;
  }
}
@media (min-width: 576px) and (max-width: 1199px) {
  .video2 {
    margin-top: 3rem;
  }
}
@media (min-width: 768px) {
  .video2 {
    margin-top: 3rem;
  }
}
@media (max-width: 576px) {
  .video2 {
    margin-top: 3rem;
  }

  .ocultarquery {
    display: none;
  }

  .categories {
    display: none;
  }

  .presentacion__cta {
    padding-top: -35px;
  }
}

/*# sourceMappingURL=style.css.map */
