/* Body Generales */
body {
    font-family: 'Roboto', 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    color:black;
      
      p {
        @include margenes;
      }
}
