/* Footer: Menú Nav Flex */
footer {
    section {
        background-color: white;

        .contenedor-menu-2 {
            display: $flex-box;
            width: 100%;
            flex-wrap: wrap;
            background-color: $color4;
            justify-content: center;
            text-align: center;
        
            .listado-menu2 {

                nav {
                    display: $flex-box;
                    justify-content: space-around;

                    ul {
                        display: $flex-box;
                        flex-wrap: wrap;
                        justify-content: space-around;

                        li {
                            display: $flex-box;
                            justify-content: space-around;
                            justify-items: center;
                            list-style-type: none;

                            a {
                                display: $flex-box;
                                color: rgb(194, 179, 179);
                                text-decoration: none;
                                margin-left: 20px;
                                text-align: center;
                                justify-content: space-around;
                                align-content: center;

                                &:hover {
                                    color: $color2;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


                            
