/* Main: Video */
.flex-container-ab {
    display: $flex-box;
    background-color: rgba(71, 163, 99, 0.781);
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding-right: 150px;
}

.flex-item-a > .video2 {
    width: 450px;
    padding-left: 110px;
    padding-top: 50px;
    padding-right: 150px;
}

.flex-item-b {
    justify-content: flex-end;
    background-color: white;
    width: 600px;
    margin: 10px;
        text-align: center;
    font-size: 20px;
    flex: 1;
}