/* Sección Media Queries */
/*RESPONSIVE*/
@media (min-width: 1199px) {
    .video2 {
      margin-top: 3rem; } 
     }
  
@media (min-width: 576px) and (max-width: 1199px) {
     .video2 {
          margin-top: 3rem; } 
             }
  
@media (min-width: 768px) {
     .video2 {
          margin-top: 3rem; } 
              }
  
@media (max-width: 576px) {
     .video2 {
          margin-top: 3rem; } 
         .ocultarquery {
              display: none;
         }

         .categories {
              display:none;
         }

         .presentacion__cta{
          padding-top: -35px;
      }
     }